body{


    background-color:#25DA9E ;
}




.container{


    margin-top: 6%;
    align-items: center;

}



.retangulo{
    align-items: center;
    margin: 0 auto;
    width: 40%;
    height: 100%;
    border-radius: 1rem;
    position:relative;

}



.center{

    display: flex;
    flex-direction: column;


}




.taboca{
    margin-bottom: 6%;
    margin-left: 14%;
    width: 68%;
    height 68%;

}

.quiz{

   opacity: 60%;
}

.safe{
    margin-left: 18%;
    width:70%;
    height:70%;
    margin-bottom: 16%;


}

.tela{
    
    right: -17.5%;
    top: 30%;
    width: 134%;
    position: absolute;
 
  
   


}

.pontos{

    color: #25DA9E;
    font-size: 5rem;
    font-family:abys;
   
}


.footer{
    
    font-family: sans-serif;
    margin-bottom: 40%;
    display: flex;
    justify-content: space-evenly;
}


.rodape{

    display: flex;
     height: 9%;
    width: 9%;
    margin-top:5%;


}

.rodape1{

    height: 11%;
    width: 11%;
    margin-top:3%;

}

.btnp{

    margin-top: 250%;
}

.btnr{

    margin-top: 90%;
}

h2{


    margin-top:6%;
}

.rodape2{

   height: 16%;
    width: 16%;

    margin-bottom:89%;
}


.blue{

    margin-top:250%;

}

@media (max-width:1200px){

   .mais{
   position:absolute;
   top:60%;
   mergin-top: 800%;
   opacity:10%

   }

   .blue{

    position:relative;
   margin-top:260%;
   }


   .btnp{

    margin-top: 160%;
}

    .pontos{

        margin-bottom:30%;
       bottom:5%;

    }





    .pontos{

    color: #25DA9E;
    font-size: 5rem;
    font-family:abys;
    border:serif;

}

}